azure-identity
openai>=1.109.1
python-dotenv
pydantic
rich
dotenv-azd
aiohttp
faker
openai-agents
semantic-kernel
langgraph
langchain==1.0.2
langchain_openai==1.0.1
pydantic-ai==1.0.8
llama-index
llama-index-llms-azure-openai
llama-index-llms-openai-like
llama-index-embeddings-azure-openai
smolagents
langchain-mcp-adapters
agent-framework-core @ git+https://github.com/microsoft/agent-framework.git#subdirectory=python/packages/core
agent-framework-devui @ git+https://github.com/microsoft/agent-framework.git#subdirectory=python/packages/devui
